@font-face {
    font-family: 'Asul';
    src: url('../fonts/Asul-Regular.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Pattaya';
    src: url('../fonts/Pattaya-Regular.ttf');
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Bebas';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url('../img/header_img.jpg');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 110px;
}

.header-main {
    background-color: #EB9668;
    background-image: none;
    font-size: 16px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    padding-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__container {
    display: flex;
    gap: 44px;
}

.menu__list{
    display: flex;
    gap: 34px;
}

.user_and_basket__container {
    display: flex;
    gap: 18px;
}

.menu__list-link {
    color: #C20707;
    text-transform: uppercase;
}
.menu__list-link button {
    color: #C20707;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas';
    border: 0px solid white;
    background-color: #f0e3e3b0;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 0px #5a59594d;
    width: 72px;
    height: 24px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__list-link button:hover {
    cursor: pointer;
}

.footer {
    background-color: #EFC8B8;
}
.container__footer{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 33px;
    color: #CB231A;
    font-family: 'Asul';
}
.footer__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    flex-grow: 1;
    position: relative;
    background-color: #EB9668;
}
.container__main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}
.the__feeling {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}
.the {
    font-family: 'Pattaya';
    font-size: 44px;
    color: #BA3229;
    padding-top: 332px;
}
.feeling {
    font-family: 'Bebas';
    font-size: 194px;
    color: #BA3229;
    margin-top: -30px;
}
.taste__enjoy {
    widows: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
}
.taste {
    font-family: 'Bebas';
    font-size: 194px;
    color: #BA3229;
    padding-top: 120px;
}
.enjoy {
    font-family: 'Bebas';
    color: #BA3229;
    max-width: 45%;
    margin-top: -30px;
    text-transform: uppercase;
}
.image__cola {
    position: absolute;
    left: 50%;
    margin-left: -232.5px;
    top: 40%;
    margin-top: -168px;
    display: flex;
    align-items: start;
    justify-content: start;
}
.image__cola__img {
    width: 100%;
    height: auto;
}
.marque__container {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    widows: 100%;
    height: 40px;
    background-color: #A41818;
}
.marque {
    text-transform: uppercase;
    font-family: 'Asul';
    font-size: 19px;
    color: #D9D9D9;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}