@font-face {
    font-family: 'Asul';
    src: url('../fonts/Asul-Regular.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: 'Pattaya';
    src: url('../fonts/Pattaya-Regular.ttf');
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Bebas';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-image: url('../img/header_img.jpg');
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 110px;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    padding-top: 70px;
    padding-bottom: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas';
    font-size: 110px;
    color: #EADCDC;
    text-transform: uppercase;
}

.footer {
    background-color: #EFC8B8;
}
.container__footer{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rights {
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 32px;
    padding-bottom: 33px;
    color: #CB231A;
    font-family: 'Asul';
}
.footer__icons {
    display: flex;
    align-items: center;
    gap: 20px;
}


main {
    flex-grow: 1;
    position: relative;
    background-color: #FFF7F6;
    display: flex;
    flex-direction: column;
}
.text1 {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}
.text1__inner {
    display: flex;
    align-items: end;
    max-width: 888px;
    font-family: 'Asul';
    font-size: 26px;
    color: #474646;
    text-transform: uppercase;
    padding: 41px 0px 41px 0px;
}
.jacobs {
    max-width: 1220px;
    display: flex;
    flex-direction: row;
}
.jacobs__img {
    width: 694px;
    height: 350px;
    background: url('../img/company1.jpg') no-repeat center center;
    background-size: cover;
}
.jacobs__text {
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 518px;
    font-family: 'Asul';
    font-size: 24px;
    color: #474646;
    text-transform: uppercase;
    padding: 16px 0px 0px 26px;
}
.skate_niga {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 64px;
}
.skate_text {
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 549px;
    font-family: 'Asul';
    font-size: 24px;
    color: #474646;
    text-transform: uppercase;
    padding: 33px 0px 0px 0px;
}
.skate_img {
    width: 651px;
    height: 342px;
    background: url('../img/company2.jpg') no-repeat center center;
    background-size: cover;
}
.supporting {
    max-width: 1220px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.supporting__img {
    width: 645px;
    height: 280px;
    background: url('../img/company3.jpg') no-repeat center center;
    background-size: cover;
}
.supporting__text {
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 590px;
    font-family: 'Asul';
    font-size: 24px;
    color: #474646;
    text-transform: uppercase;
    padding: 30px 0px 0px 18px;
}
.men_in_cup {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 55px;
}
.men_in_cup_text {
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 476px;
    font-family: 'Asul';
    font-size: 24px;
    color: #474646;
    text-transform: uppercase;
    padding: 61px 0px 0px 0px;
}
.men_in_cup_img {
    width: 746px;
    height: 380px;
    background: url('../img/company4.jpg') no-repeat center center;
    background-size: cover;
}
.bottom_logos {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 39px;
}
.year {
    font-family: 'Asul';
    font-size: 83px;
    color: #474646;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_logo {
    width: 244px;
    height: 130px;
    background-color: #D20913;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_logo_svg {
    width: 164.12;
    height: 52.26;
    color: #FFF7F6;
}